*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-div{
  
display: flex;
align-items: center;
gap: 5rem;

}

.profilepic{
width:10rem;
 height:10rem;
 border-radius:5rem
}


body{
    font-family: 'Be Vietnam Pro', sans-serif !important;
}
input{
    font-family: 'Be Vietnam Pro', sans-serif !important;
}
a{
    color: black !important;

}
.brandphoto{
    width: 15rem;
    height: 4.5rem;
    padding: 0.6rem;
}

.signin-card-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );
    width: 100%;
    height: 90vh;
}
.signin-card{
    padding: 2rem;
    max-width: 30rem;
    text-align: center;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.233);
    border-radius: 1rem;
    margin-top: 4rem;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(3, 141, 253) !important;
    box-shadow: 0 1px 0 0 rgb(3, 141, 253) !important;
  }
  .input-field input[type=password]:focus {
    border-bottom: 1px solid rgb(3, 141, 253) !important;
    box-shadow: 0 1px 0 0 rgb(3, 141, 253) !important;
  }
.gallery{
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
  .item{
      width: 30%;
  }
  .home{
      max-width: 80rem;
      padding:0.5rem 1rem 1rem 1rem;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.26);
      border-radius: 1rem;
      margin-top: 1rem;
  }
  .postedbyname{
      margin:0;
      padding: 0.5rem;
  }
  
  .home-big-div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
  }

  #toast-container{
      top: 6rem !important;
      right: 30rem !important;
      left: 30rem !important;
  }
  .img{
    max-width: 25rem;
}

.logout {
    background-color:rgb(225, 37, 0);
    padding: 0.4rem 1rem 0.4rem 1rem;
    outline:none;
    border: none;
    border-radius: 0.3rem;
    font-family: 'Be Vietnam Pro', sans-serif !important;
    color: white;
    letter-spacing: 0.1rem;
    margin: 0.5rem;
    transition: all 0.5s;
    cursor: pointer;
 }
 .logout:hover{
     background-color: rgb(132, 35, 0);
 }
  
.uploadbtn{
    font-family: 'Be Vietnam Pro', sans-serif !important;
    background-color: rgb(10, 96, 255);
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: all 0.6s;
    color: white;
    border: 0.1rem solid rgb(10, 96, 255);
    border-radius: 0.5rem;
}
.uploadbtn:hover{
    font-family: 'Be Vietnam Pro', sans-serif !important;
    background-color: rgb(33, 64, 201);
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: all 0.6s;
    color: white;
    border: 0.1rem solid rgb(33, 64, 201)
}

.postbtn {
   background-color:rgb(10, 96, 255);
   padding: 0.4rem 1rem 0.4rem 1rem;
   outline:none;
   border: none;
   border-radius: 0.3rem;
   font-family: 'Be Vietnam Pro', sans-serif !important;
   color: white;
   letter-spacing: 0.1rem;
   margin: 0.5rem;
   transition: all 0.5s;
   cursor: pointer;
}
.postbtn:hover{
    background-color: rgb(32, 72, 146);
}

.donthave{
    color: rgb(10, 96, 255);
    font-family: 'Be Vietnam Pro', sans-serif !important;

}

.likeunlike{
    display: flex;
    gap: 1rem;
    cursor:pointer;
}
.foot-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}
.linkicon-div{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 0.5rem;
}
.brand-logo{
    margin-left: 4rem;
}
.responsive{
    display:none
}
.signuplink{
    margin-right: 4rem;
    
}

.loader{
    width:1.7rem;
    height: 1.7rem;
    position: relative;
    border: 0.2rem solid #ffffff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.9s linear infinite;
}
.loadWrap{
    padding: 0.5rem 4rem 0.5rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    margin: 0.5rem;
    background-color: #0066ff;
}
.addFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
  @media screen and (max-width:768px){
      #toast-container{
        top: 2rem !important;
        right: 2rem !important;
        left: 2rem !important;
      }
      .home{
        max-width: 22rem;
        margin-top: 5rem;
        padding:1rem;
        box-shadow: 10px 10px 40px -6px rgba(168,168,168,1);
        
    }
    

    .signuplink{
        margin-right: 0;
    }
    .responsive{
        display:flex;
        justify-content: center;
        align-items: center;
        padding-top: 4rem;
        background:white;
        
    }
    

    .brand-logo{
        margin-left: 0;
    }
    .signin-card{
        padding: 2rem;
        max-width: 25rem;
        text-align: center;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.233);
        border-radius: 1rem;
        margin-top: 3rem;
    }
    .img{
        max-width: 20rem;
    }
    .profilepic{
        width:7rem;
         height:7rem;
         border-radius:3.5rem
        }
  }
  