*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-div{
  
display: flex;
align-items: center;
gap: 5rem;

}

.profilepic{
width:10rem;
 height:10rem;
 border-radius:5rem
}


body{
    font-family: 'Be Vietnam Pro', sans-serif !important;
}
input{
    font-family: 'Be Vietnam Pro', sans-serif !important;
}
a{
    color: black !important;

}
.brandphoto{
    width: 15rem;
    height: 4.5rem;
    padding: 0.6rem;
}

.signin-card-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );
    width: 100%;
    height: 90vh;
}
.signin-card{
    padding: 2rem;
    max-width: 30rem;
    text-align: center;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.233);
    border-radius: 1rem;
    margin-top: 4rem;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(3, 141, 253) !important;
    box-shadow: 0 1px 0 0 rgb(3, 141, 253) !important;
  }
  .input-field input[type=password]:focus {
    border-bottom: 1px solid rgb(3, 141, 253) !important;
    box-shadow: 0 1px 0 0 rgb(3, 141, 253) !important;
  }
.gallery{
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
  .item{
      width: 30%;
  }
  .home{
      max-width: 80rem;
      padding:0.5rem 1rem 1rem 1rem;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.26);
      border-radius: 1rem;
      margin-top: 1rem;
  }
  .postedbyname{
      margin:0;
      padding: 0.5rem;
  }
  
  .home-big-div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
  }

  #toast-container{
      top: 6rem !important;
      right: 30rem !important;
      left: 30rem !important;
  }
  .img{
    max-width: 25rem;
}
.logout{
   
    margin: 1rem;
    background-color: #ff0d0d;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Be Vietnam Pro', sans-serif; 
    height: 40px;
    justify-content: center;
    line-height: 1;
    letter-spacing: 0.1rem;
    overflow: hidden;
    padding: 0.5rem 1rem 0.5rem 1rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 15px;
}
.logout:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .logout:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .logout:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
  
.uploadbtn{
    font-family: 'Be Vietnam Pro', sans-serif !important;
    background-color: rgb(10, 96, 255);
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: all 0.6s;
    color: white;
    border: 0.1rem solid rgb(10, 96, 255);
    border-radius: 0.5rem;
}
.uploadbtn:hover{
    font-family: 'Be Vietnam Pro', sans-serif !important;
    background-color: rgb(33, 64, 201);
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: all 0.6s;
    color: white;
    border: 0.1rem solid rgb(33, 64, 201)
}


    /* font-family: 'Be Vietnam Pro', sans-serif !important;
    background-color: rgb(10, 96, 255);
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: all 0.6s;
    margin: 1rem;
    color: white;
    border: 0.1rem solid rgb(10, 96, 255);
    border-radius: 0.5rem; */


.postbtn {
  align-items: center;
  margin: 1rem;
  background-color: #0d7eff;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Be Vietnam Pro', sans-serif; 
  height: 48px;
  justify-content: center;
  line-height: 1;
  letter-spacing: 0.1rem;
  overflow: hidden;
  padding: 0.5rem 1rem 0.5rem 1rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.postbtn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.postbtn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.postbtn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}



.donthave{
    color: rgb(10, 96, 255);
    font-family: 'Be Vietnam Pro', sans-serif !important;

}

.likeunlike{
    display: flex;
    gap: 1rem;
    cursor:pointer;
}
.foot-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}
.linkicon-div{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 0.5rem;
}
.brand-logo{
    margin-left: 4rem;
}
.responsive{
    display:none
}
.signuplink{
    margin-right: 4rem;
    
}
  @media screen and (max-width:768px){
      #toast-container{
        top: 2rem !important;
        right: 2rem !important;
        left: 2rem !important;
      }
      .home{
        max-width: 22rem;
        margin-top: 5rem;
        padding:1rem;
        box-shadow: 10px 10px 40px -6px rgba(168,168,168,1);
        
    }
    .logout{
        font-family: 'Be Vietnam Pro', sans-serif !important;
        background-color: rgb(231, 56, 56);
        padding: 0.5rem 1rem 0.5rem 1rem;
        transition: all 0.6s;
        color: white;
        border: 0.1rem solid rgb(231, 56, 56);
        border-radius: 0.5rem;
        margin: 0.4rem;
    }

    .logout:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      }
      
      .logout:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
      }
      
      .logout:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
      }

    .signuplink{
        margin-right: 0;
    }
    .responsive{
        display:flex;
        justify-content: center;
        align-items: center;
        padding-top: 4rem;
        background:white;
        
    }
    

    .brand-logo{
        margin-left: 0;
    }
    .signin-card{
        padding: 2rem;
        max-width: 25rem;
        text-align: center;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.233);
        border-radius: 1rem;
        margin-top: 3rem;
    }
    .img{
        max-width: 20rem;
    }
    .profilepic{
        width:7rem;
         height:7rem;
         border-radius:3.5rem
        }
  }
  